body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  }
  
  .calc-container {
    width: 300px;
    height: 425px;
    border: 3px solid black;
    text-align: center;
    gap: 2000px;
    background-color:lightgray;
    transition: transform 0.5s ease-in-out;
  }
  .equation{
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 100px;
    margin-left: 47px;
  }
  .misc button {
    font-size:9px;
  }

  button{
    width: 75px;
    margin-bottom:9px;
  }

  @keyframes shake{
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  .shake {
    animation: shake 0.5s;
  }

  .shattered {
    transform: scale(0.1);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display:none;
}

body.black-background {
  background-color: black;
}

.eyes{
  display: none;
  margin: auto;
}

.eye1{
  margin-right: 50px;

}

.godishere{
  display:none;
}

body.red-text{
  color: red;
  font-family:'Courier New', Courier, monospace;
}

.gods-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}